

.root {
    flex-direction: column;
    display: flex;
    width: 80%;
    margin: auto;
}

.user-search {
    height: 3em;
    flex: 1;
}


.search-container {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.user-profile-img {
}

.user-profile-container {
    display: flex;
    flex-direction: row;
}

.fork {
    color: red;
    font-weight: bold;
    text-transform: capitalize;
}